@model IEnumerable<Practice_Crud___Agenda_Contactos.Models.Contact>


@{
    ViewData["Title"] = "Lista de Contactos";
}

<h1 class="text-center">Agenda de Contactos</h1>
<div class="row">
    <div class="offset-9 col-3 mb-3">
        <a asp-action="Create" asp-controller="Home" class="btn btn-secondary d-block mx-auto btn-lg"> 
            <i class="fa fa-plus" aria-hidden="true"></i> New Contact
        </a>
    </div>
</div>

<div class="row">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h3 class="text-white"><strong>List of Contacts</strong></h3>
            </div>
            <div class="card-body">
                <div class="table-responsibe">
                    @if (Model.Count() > 0)
                    {
                        <table class="table table-bordered" id="tblUsuarios" width="80%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor( m => m.Id)</th>
                                    <th>@Html.DisplayNameFor( m => m.Name)</th>
                                    <th>@Html.DisplayNameFor( m => m.PhoneNumber)</th>
                                    <th>@Html.DisplayNameFor( m => m.Email)</th>
                                    <th>@Html.DisplayNameFor( m => m.CreatedDate)</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(m => item.Id)</td>
                                        <td>@Html.DisplayFor(m => item.Name)</td>
                                        <td>@Html.DisplayFor(m => item.PhoneNumber)</td>
                                        <td>@Html.DisplayFor(m => item.Email)</td>
                                        <td>@Html.DisplayFor(m => item.CreatedDate)</td>
                                        <td>
                                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
                                            </a>
                                            <a class="btn btn-secondary" asp-action="Detail" asp-route-id="@item.Id">
                                                <i class="fa fa-info-circle" aria-hidden="true"></i> Detail
                                            </a>
                                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">
                                                <i class="fa fa-trash" aria-hidden="true"></i> Delete
                                            </a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        
                        </table>
                    }
                    else
                    {
                        <p>No Contacts found</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>